<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<button class="editarComent">sf</button>
	<div id="z"></div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
	
	$('.editarComent').click(function(){
		var str= "<button id='a'>bbb</button>";
		$("#z").html(str);
	$('#a').click(function(){
		str = "homura";
		alert(strr);
	})
	
});
</script>
</body>
</html>